<div class="top">
  <div class="top-title">
    <div class="main-title">
      <h1>EVERYDAY</h1>
      <h1>DELICIOUS</h1>
    </div>
    <div class="sub-title">
      <h1>EVERYDAY</h1>
      <h1>SPECIAL</h1>
    </div>
  </div>
  <div class="top-contents">
    <p>毎日の食卓がレストランに</p>
    <p>もしそんな事ができれば</p>
    <p>今以上に幸せが増えるはず</p>
    <p>そんなあなたに</p>
    <h1>シェフのレシピを手に</h1>
  </div>
  <div class="sub-contents">
    <div class="logo">
      <%= image_tag "logo.png" %>
    </div>
    <div class="link-button">
      <%= link_to "ユーザー新規登録", new_yumyum_user_path %>
      <%= link_to "シェフの方はこちら", new_yumyum_chef_path %>
    </div>
    <div class="contents-text">
      <p>YUM YUMは</p>
      <p>日本全国の料理人のレシピを購入できるサービスです。</p>
      <p>メインとなる料理から前菜、スープ、デザート</p>
      <p>そしてドレッシングからソースまで</p>
      <p>様々なレシピをご用意しています。</p>
    </div>
  </div>
</div>
