<div class="account">
  <div class="form">
    <div class="form-title">
      <h2>レシピ登録</h2>
    </div>
    <div class="form-contents">
      <%= render "recipe_contents", recipe: @recipe %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "recipes/change_price.js" %>
