<div class="top">
  <div class="top-title">
    <h2><%= @title %></h2>
  </div>
  <%= render "layouts/recipes", recipes: @recipes %>
  <div class="paginate">
    <%= paginate @recipes %>
  </div>
</div>
